@media(width>=320px){
    .main-box{
        width:280px;

    }
}

@media(width>=768px){
    .main-box{
        width: 370px;
    }
    
}
@media(width:1024px){
    .main-box{
        width: 400px;
    }
}